@model time_capsule.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/signup.css" />

<div class="signup-container">
    <div class="signup-image">
        <video autoplay loop muted playsinline>
            <source src="/assets/v1.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <h2>Welcome Back</h2>
        <p>Log in to access your virtual time capsule.</p>
    </div>

    <div class="signup-form">
        <form asp-action="Login" asp-controller="Account" method="post">
            <h2 class="aurora-text">Login</h2>

            <input asp-for="Email" class="aurora-input" placeholder="Enter your email" />
            <span class="text-danger" asp-validation-for="Email"></span>

            <input asp-for="Password" type="password" class="aurora-input" placeholder="Enter your password" />
            <span class="text-danger" asp-validation-for="Password"></span>

            <button type="submit" class=" aurora-button">Login</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
